.body {
	background-color: #f9ff87;
}

.div {
    margin-left: 200px;
    margin-right: 200px;
	}

.logo {
    height: 252px;
    width: 528px;
    padding: 10px;
    display: block;
    margin: 0 auto;
    background:url('C:\Users\ehayn\OneDrive\Desktop\FantasticFour\crmapp\src\app\Images\workonlogo.png') no-repeat center center;
}